<div ng-controller="DocumentCtrl">
<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{numberOfDocs}}</div>
				<div class="comment">Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">{{averageTimePerDay}}</div>
				<div class="comment">Average/day</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">{{peakUploaded}}</div>
				<div class="comment">Peak Uploaded</div>
			</rd-widget-body>
		</rd-widget>
	</div>	
</div>

<div class="row">
	<rd-widget>
		<rd-widget-header icon="fa-tasks" title="Documents which has been uploaded by you">			
		</rd-widget-header>
		<rd-widget-body classes="no-padding">
			<div class="table-responsive" >
				<form>
					<input ng-model="queryTitle" type="text" ng-model-options="{ debounce: 100 }"  placeholder="Filter by Title" class="form-control input-lg" autofocus>
					<input ng-model="queryAuthor" type="text" ng-model-options="{ debounce: 100 }"  placeholder="Filter by Authors" class="form-control input-lg" autofocus>
					<select name="privacy" ng-model="queryPrivacy" class="input-underline input-lg" placeholder="Filter by Document Privacy">
						<option value="">All of My Public and Private</option>
						<option value="public">Public</option>
						<option value="private">Private</option>
					</select>
					<select name="category" ng-model="queryCategory" class="input-underline input-lg" placeholder="Filter by Document Category">
						<option value="">All</option>
						<option value="Mathematics">Mathematics</option>
						<option value="Physics">Physics</option>
						<option value="Computer Science">Computer Science</option>
						<option value="Social Science">Social Science</option>
					</select>
				</form>
			</div>
			<div class="table-responsive" >
				<table class="table" ng-if="uploadedDocs != null">
					<thead>
						<tr>
							<td>Title</td>
							<td>Authors</td>
							<td>Category</td>
							<td>Privacy</td>
							<td>Uploaded Date</td>
							<td colspan="4">Actions</td>
						</tr>
						<tr><td align="right" colspan="9">								
							<dir-pagination-controls pagination-id="udoc"></dir-pagination-controls>
						</td></tr>
					</thead>
					<tfoot>
						<tr><td align="right" colspan="9">								
							<dir-pagination-controls pagination-id="udoc"></dir-pagination-controls>				
						</td></tr>
					</tfoot>
					<tbody>
						<tr dir-paginate="doc in uploadedDocs | itemsPerPage: pageSize | filter:{ title: queryTitle, authors : queryAuthor, privacy : queryPrivacy, category: queryCategory } track by $index"  pagination-id="udoc" class="hoverme">
							<td>{{doc.title}}</td>
							<td>{{doc.authors}}</td>
							<td>{{doc.category}}</td>
							<td>{{doc.privacy}}</td>
							<td>{{doc.uploadedDate | date:'dd/MM/yyyy - hh:mm:ss a'}}</td>
							<td><span class="text-success"><a href="{{getServerDocumentPath(doc.uploadedPath)}}" target="_blank">{{doc.fileName}}</a></span></td>
							<td><span class="text-success"><a href="{{getServerDocumentPath(doc.uploadedPath)}}" target="_blank" download="{{doc.fileName}}">Download</a></span></td>
							<td><span class="text-success" ng-click="editDocument(doc);" ><i class="fa" >Edit</i></span>
							<td><span class="text-success" ng-click="deleteDocument($index,doc);"><i class="fa fa-check" >Remove</i></span>
							</td>
						</tr>							
					</tbody>
				</table>
			</div>
		</rd-widget-body>
	</rd-widget>	
</div>
</div>