<div>
	<rd-widget>
		<rd-widget-header icon="fa-tasks" title="Upload Form">			
		</rd-widget-header>
		<rd-widget-body classes="padding">
			<div ng-controller="DocumentCtrl">
				<div class="row" >
					<form name="form" ng-submit="submit();"> 
						<div class="form-content"> 				
							<fieldset>
							<div class="form-group"> 
								<button type="submit" class="btn btn-sm btn-info" ng-disabled="!form.$valid" ng-if="!isEditing">Upload</button>
								<button type="button" class="btn btn-sm btn-info" ng-disabled="!form.$valid" ng-if="isEditing" ng-click="saveEditedDoc()">Update</button>
								<button type="button" class="btn btn-sm btn-info" ng-disabled="!form.$valid" ng-if="isEditing" ng-click="exitEditing()">Cancel</button>
								<span class="message">{{log}}</span>
							</div> 					
							<div class="form-group"> 
								<input type="text" name="title" class="form-control input-underline input-lg" size="100" placeholder="Input the document title here" ng-model="title" required> 
								<i ng-show="form.title.$error.required">*required</i>
							</div> 
							<div class="form-group"> 
								<input type="text" name="authors" class="form-control input-underline input-lg" size="80" placeholder="Input the authors here and separate them by comma, e.g: Mohamed Quafafou, Alex Ferguson, Do Duong,..." ng-model="authors" required> 
								<i ng-show="form.authors.$error.required">*required</i>
							</div> 											
							<div class="form-group" ng-if="!isEditing"> 
							<input type="file" ngf-select="selectFile($file);" ng-model="file" name="file"    
									 ngf-pattern="'*'" ngf-accept="'*'" ngf-max-size="20MB" required ngf-model-invalid="errorFile" />
							  <i ng-show="form.file.$error.required">*required</i><br>
							  <i ng-show="form.file.$error.maxSize">File too large 
								  {{errorFile.size / 1000000|number:1}}MB: max 20M</i>
								<span class="progress" ng-show="file.progress >= 0">
								<div style="width:{{file.progress}}%" 
									ng-bind="file.progress + '%'"></div>
								</span>
							</div>
							<div class="form-group"> 
								<select name="privacy" ng-model="$parent.privacy" ng-if="!isEditing" class="input-underline input-lg" placeholder="Select the Privacy" >
									<option value="public">Public</option>
									<option value="private">Private</option>
								</select>
								<select name="category" ng-model="category" class="input-underline input-lg" placeholder="Select the Document Category">
									<option value="Mathematics">Mathematics</option>
									<option value="Physics">Physics</option>
									<option value="Computer Science">Computer Science</option>
									<option value="Social Science">Social Science</option>
								</select>
								<input type="hidden" name="demomode" value="1" />
								<!-- <select name="demomode" ng-model="$parent.demomode" ng-if="!isEditing" class="input-underline input-lg" placeholder="Select the demo mode you want">
									<option value="1">Custom routing with 3 public/private/share indexes</option>
									<option value="2">Custom routing with one index and 3 public/private/share types</option>									
									<option value="3">Separate indexes for users</option>
									<option value="4">Separate types for private/public/share</option>						
								</select> -->
							</div> 							
							<div class="form-group"> 
								<textarea rows="4"  ng-minlength="10" ng-maxlength="4000" ng-trim="true" name="abstract" class="form-control input-underline input-lg" placeholder="Summarize or describe abstract of your document here" ng-model="abstract" required> 
								</textarea>
								<i ng-show="form.abstract.$error.maxlength">Should not longer than 4000 characters</i>
								<i ng-show="form.abstract.$error.minlength">Should not shorter than 10 characters</i>
								<i ng-show="form.abstract.$error.required">*required</i>
							</div> 							
							<div class="form-group"> 
								<input type="text" name="publisher" class="form-control input-underline input-lg" size="60" placeholder="Input the name of the publisher" ng-model="publisher"> 
							</div> 					
							<div class="form-group"> 
								<input type="text" name="publishedDate" class="form-control input-underline input-lg" size="30" placeholder="Input the publisher date of the document" ng-model="publishedDate"> 
							</div>
							<div class="form-group"> 
								<input type="text" name="keywords" class="form-control input-underline input-lg" size="60" placeholder="Input the keywords for the document and separate them by comma" ng-model="keywords"> 
							</div> 								
							<div class="form-group">						
								<button type="submit" class="btn btn-sm btn-info" ng-disabled="!form.$valid" ng-if="!isEditing">Upload</button>
								<button type="button" class="btn btn-sm btn-info" ng-disabled="!form.$valid" ng-if="isEditing" ng-click="saveEditedDoc()">Update</button>
								<button type="button" class="btn btn-sm btn-info" ng-disabled="!form.$valid" ng-if="isEditing" ng-click="exitEditing()">Cancel</button>
								<span class="message">{{log}}</span>
							</div> 
							</fieldset>
						</div>				
					</form> 
				</div>
				<div class="row">
					<div ng-switch="isLoading">
						<div ng-switch-when="true">
							Loading results...
						</div>
						<div class="table-responsive" ng-switch-when="false">
							<table class="table">
								<thead>
									<tr>
									<td>File name</td>
									<td>Title</td>
									<td>Authors</td>
									<td>Category</td>
									<td>Privacy</td>
									<td>Uploaded Time</td>
									<td colspan="3">Actions</td>
									<td colspan="5">Statistics</td>
									</tr>
									<tr><td align="right" colspan="9">								
										<dir-pagination-controls pagination-id="udoc"></dir-pagination-controls>
									</td></tr>
								</thead>
								<tfoot>
									<tr><td align="right" colspan="9">								
										<dir-pagination-controls pagination-id="udoc"></dir-pagination-controls>				
									</td></tr>
								</tfoot>
								<tbody>
									<tr dir-paginate="doc in uploadedDocs | itemsPerPage: pageSize track by $index"  pagination-id="udoc" class="hoverme">
										<td><span class="text-success"><a href="{{getServerDocumentPath(doc.uploadedPath, false)}}" target="_blank"  ng-click="userInteract(doc._id, 'view')">{{doc.fileName}}</a></span></td>
										<td>{{doc.title}}</td>
										<td>{{doc.authors}}</td>
										<td>{{doc.category}}</td>
										<td>{{doc.privacy}}</td>
										<td>{{doc.uploadedDate | date:'dd/MM/yyyy - hh:mm:ss a'}}</td>
										<td><span class="text-success"><a href="" ng-click="openShare(doc._id)">Share</a></span></td>
										<td><span class="text-success" ng-click="editDocument(doc);"><i class="fa" >Edit</i></span>
										<td><span class="text-success" ng-click="deleteDocument($index, doc);"><i class="fa fa-cross" >Remove</i></span>
										</td>
										<td>Viewed ({{doc.viewed_by.length}})</td>
										<td>Downloaded ({{doc.downloaded_by.length}})</td>
										<td>Liked ({{doc.liked_by.length}})</td>
										<td>Reading ({{doc.read_by.length}})</td>
										<td>Shared ({{doc.beSharedTransactions.length}})</td>	
									</tr>							
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<script type="text/ng-template" id="firstDialog">
				<div class="ngdialog-message">
					<span>You would like to share this document to who :</span>
					<div>
						<form>
							<input ng-model="shareText" type="text" placeholder="Recommend text to your friends" class="form-control" autofocus>
							</br>
							<ul>
								<li ng-repeat="friend in friends"><input type="checkbox" checklist-model="selectedFriends" checklist-value="friend" checklist-comparator="compareFn"> {{friend.username}} - {{friend.email}}</li>
							</ul>
							</br>
						</form>			
					</div>
					<div class="mt">People, whom you selected, are able to interact with the document you shared.</div>
				</div>
						
				<div class="ngdialog-buttons mt">
					<button type="button"  class="ngdialog-button ngdialog-button-primary" ng-click="submit()">Share</button>
					<button type="button"  class="ngdialog-button" ng-click="uncheckAll()">Uncheck All</button>
					<button type="button"  class="ngdialog-button" ng-click="checkAll()">Check All</button>
				</div>
			</script>
		</rd-widget-body>
	</rd-widget>
</div>