 <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Document Library
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span><a href="#/controlpanel/">MY PANELS</a></span></li>
        <li class="sidebar-list">
          <a ui-sref="base.header.panel">Control Panels <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="uploaddocument">Upload Document <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="uploaddocumentlist">Uploaded Document List <span class="menu-icon fa fa-table"></span></a>
        </li>	
        <li class="sidebar-list">
          <a ui-sref="searchdocument">Search Documents <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="recommenddocument">Recommend Documents <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="downloaddocument">Download Document <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="readingdocumentlist">Reading Document List <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a ui-sref="likeddocumentlist">Liked Document List <span class="menu-icon fa fa-table"></span></a>
        </li>				
        <li class="sidebar-list">
          <a ui-sref="shareddocumentlist">Shared Document List <span class="menu-icon fa fa-table"></span></a>
        </li>		
		<li class="sidebar-list">
          <a ui-sref="sharedformedocumentlist">Shared For Me Documents <span class="menu-icon fa fa-table"></span></a>
        </li>			
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="./README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->