<div class="row">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="My suggested Books for you">
      </rd-widget-header>
      <rd-widget-body>
        <div class="table-responsive">
          <table class="table">
            <tbody>
				<tr><td>
				<table><tr><td width="70%">
					Perception theory</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				</td></tr>
				<tr><td>
				<table><tr><td width="70%">
					Inaccessible set theory</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">
					Inaccessible truths and infinite coincidences</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">
					Storage and Recommendation Systems</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">
					Working with Docker</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">
					String theory</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">
					The Myths of Universe Structure</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">				
					Thinking as a snail</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">	
					Muslim history</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>
				<table><tr><td width="70%">	
					Islamic Principle, What is</td><td align="right">View | Download | Reading | Like | Share</td></tr>
					<tr colspan="2"><td>This book is a first step of Ignorance theory</td></tr>
				</table>					
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
 </div>

 