<div class="row">	
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Searching Books">
      </rd-widget-header>
      <rd-widget-body classes="padding" >
	  <div ng-controller="SearchCtrl as searchCtrl">
		   <div>
				<form name="form" ng-submit="submit()">
					<noscript>
						<div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
					</noscript>

					<input type="text" name="query" ng-model="query" ng-model-options="{ debounce: 100 }" placeholder="What is the topic which you are interesting?" class="form-control input-lg" autofocus/>
					<div class="form-group"> 
						<select name="privacy" ng-model="privacy" class="input-underline input-lg" placeholder="Select the Privacy">
							<option value="all">All Public and my Private</option>
							<option value="pubnpri">my Public and my Private</option>
							<option value="public">my Public</option>
							<option value="private">my Private</option>
						</select>						
						<select id="category" ng-controller="CategoryCtrl as categoryCtrl" ng-model="$parent.category" class="input-underline input-lg" placeholder="Select the Document Category">
							<option value="">All</option>
							<option ng-repeat="cat in categories" value="{{cat.value}}">{{cat.name}}</option>
						</select>
						<!-- <select name="demomode" ng-model="$parent.demomode" ng-if="!isEditing" class="input-underline input-lg" placeholder="Select the demo mode you want">
							<option value="1">Custom routing with 3 public/private/share indexes</option>
							<option value="2">Custom routing with one index and 3 public/private/share types</option>									
							<option value="3">Separate indexes for users</option>
							<option value="4">Separate types for private/public/share</option>						
						</select> -->
					</div> 		
				</form>
			</div>
			
			<div ng-switch="isLoading">
				<div ng-switch-when="true">
					Loading results...
				</div>
				<div ng-if="undefined !== errorLog">{{resultLog}}</div>
				
				<div class="table-responsive" ng-switch-when="false">
					  <table class="table" >
						<thead>
							<tr><td>
								<table width="100%">
									<tr><td width="70%">Title<br/>Authors<br/>Publisher - Publish Date</td>
										<td>Actions<br/>Category<br/>Uploaded Time</td>
									</tr>
									<tr><td colspan="2">Abstracts</td>								
									</tr>
								</table>
							</td>
							</tr>
							<tr><td align="right">								
								<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="sdoc" ></dir-pagination-controls>
							</td></tr>
						</thead>
 						<tfoot>
							<tr><td align="right">								
								<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="sdoc" ></dir-pagination-controls>
							</td></tr>
						</tfoot>
						<tbody>							
							<tr dir-paginate="doc in resultDocs | itemsPerPage: pageSize" total-items="totalDocs" current-page="pagination.current" pagination-id="sdoc" class="hoverme">
								<td>
									<table width="100%"><tr><td width="70%">
										{{$index + 1}}. {{doc._source.title}}
											<span ng-controller="RatingCtrl as rater">
												<div star-rating rating-value="5" max="10" on-rating-selected="rate(myDetail._id, doc._source.id, rating)"></div>
											</span>
											</td>
											<td align="right"><span class="text-success" ><a href="{{getServerDocumentPath(doc._source.uploadedPath, false)}}" target="_blank" ng-click="userInteract(doc._source.id, 'view')">View</a></span> | <span class="text-success" ><a href="{{getServerDocumentPath(doc._source.uploadedPath, true)}}" target="_blank" download="{{doc._source.fileName}}" ng-click="userInteract(doc._source.id, 'download')">Download </a></span> | 															  
															  <span class="text-success" ng-show="myDetail.likes.length == 0 || myDetail.likes.indexOf(doc._source.id) === -1"><a href="" ng-click="userInteract(doc._source.id, 'like');"> Like </a></span><span class="text-success" ng-show="myDetail.likes.length > 0 && myDetail.likes.indexOf(doc._source.id) !== -1"><a href="" ng-click="userInteract(doc._source.id, 'unlike');"> Unlike </a></span> | 
															  <span class="text-success" ng-show="myDetail.reads.length == 0 || myDetail.reads.indexOf(doc._source.id) === -1"><a href="" ng-click="userInteract(doc._source.id, 'read')"> Reading </a></span><span class="text-success" ng-show="myDetail.reads.length > 0 && myDetail.reads.indexOf(doc._source.id) !== -1"><a href="" ng-click="userInteract(doc._source.id, 'stopread')"> Stop Reading </a></span>| 
															  <span class="text-success" ><a href="" ng-click="openShare(doc._source.id)"> Share </a></span>
											</td></tr>
										<tr><td>{{doc._source.authors}}</td><td>{{doc._source.category}}</td></tr>
										<tr><td>{{doc._source.publisher}} - {{doc._source.publishedDate}}</td><td>{{doc._source.uploadedUser}} uploaded at {{doc._source.uploadedDate | date:'dd/MM/yyyy - hh:mm:ss a'}}</td></tr>
										<tr colspan="2"><td>{{doc._source.abstract}}</td></tr>
									</table>
								</td>
							</tr>						
						</tbody>
					  </table>					
				</div>				
			</div>
			<!-- <div ng-switch="isLoading">
				<div class="table-responsive" ng-switch-when="false">
					Combined Recommendation without skyline
					  <table class="table" >
						<thead>
							<tr><td>
								<table width="100%">
									<tr><td width="70%">Title<br/>Authors<br/>Publisher - Publish Date</td>
										<td>Actions<br/>Category<br/>Uploaded Time</td>
									</tr>
									<tr><td colspan="2">Abstracts</td>								
									</tr>
								</table>
							</td>
							</tr>
						</thead>
 						<tfoot>
						</tfoot>
						<tbody>							
							<tr ng-repeat="doc in resultDocs" class="hoverme">
								<td>
									<table width="100%"><tr><td width="70%">
											{{doc._source.title}} 											
											</td>
											<td align="right"><span class="text-success" ><a href="{{getServerDocumentPath(doc._source.uploadedPath, false)}}" target="_blank" ng-click="userInteract(doc._source.id, 'view')">View</a></span> | <span class="text-success" ><a href="{{getServerDocumentPath(doc._source.uploadedPath, true)}}" target="_blank" download="{{doc._source.fileName}}" ng-click="userInteract(doc._source.id, 'download')">Download </a></span> | 															  
															  <span class="text-success" ng-show="myDetail.likes.length == 0 || myDetail.likes.indexOf(doc._source.id) === -1"><a href="" ng-click="userInteract(doc._source.id, 'like');"> Like </a></span><span class="text-success" ng-show="myDetail.likes.length > 0 && myDetail.likes.indexOf(doc._source.id) !== -1"><a href="" ng-click="userInteract(doc._source.id, 'unlike');"> Unlike </a></span> | 
															  <span class="text-success" ng-show="myDetail.reads.length == 0 || myDetail.reads.indexOf(doc._source.id) === -1"><a href="" ng-click="userInteract(doc._source.id, 'read')"> Reading </a></span><span class="text-success" ng-show="myDetail.reads.length > 0 && myDetail.reads.indexOf(doc._source.id) !== -1"><a href="" ng-click="userInteract(doc._source.id, 'stopread')"> Stop Reading </a></span>| 
															  <span class="text-success" ><a href="" ng-click="openShare(doc._source.id)"> Share </a></span>
											</td></tr>
										<tr><td>{{doc._source.authors}}</td><td>{{doc._source.category}}</td></tr>
										<tr><td>{{doc._source.publisher}} - {{doc._source.publishedDate}}</td><td>{{doc._source.uploadedUser}} uploaded at {{doc._source.uploadedDate | date:'dd/MM/yyyy - hh:mm:ss a'}}</td></tr>
										<tr colspan="2"><td>{{doc._source.abstract}}</td></tr>
									</table>
								</td>
							</tr>						
						</tbody>
					  </table>					
				</div>				
			</div>	
			<div ng-switch="isLoading">
				<div class="table-responsive" ng-switch-when="false">
					Combined Recommendation with Skyline
					  <table class="table" >
						<thead>
							<tr><td>
								<table width="100%">
									<tr><td width="70%">Title<br/>Authors<br/>Publisher - Publish Date</td>
										<td>Actions<br/>Category<br/>Uploaded Time</td>
									</tr>
									<tr><td colspan="2">Abstracts</td>								
									</tr>
								</table>
							</td>
							</tr>							
						</thead>
 						<tfoot>							
						</tfoot>
						<tbody>							
							<tr ng-repeat="doc in resultDocs" class="hoverme">
								<td>
									<table width="100%"><tr><td width="70%">
										{{doc._source.title}}</td>
											<td align="right"><span class="text-success" ><a href="{{getServerDocumentPath(doc._source.uploadedPath, false)}}" target="_blank" ng-click="userInteract(doc._source.id, 'view')">View</a></span> | <span class="text-success" ><a href="{{getServerDocumentPath(doc._source.uploadedPath, true)}}" target="_blank" download="{{doc._source.fileName}}" ng-click="userInteract(doc._source.id, 'download')">Download </a></span> | 															  
															  <span class="text-success" ng-show="myDetail.likes.length == 0 || myDetail.likes.indexOf(doc._source.id) === -1"><a href="" ng-click="userInteract(doc._source.id, 'like');"> Like </a></span><span class="text-success" ng-show="myDetail.likes.length > 0 && myDetail.likes.indexOf(doc._source.id) !== -1"><a href="" ng-click="userInteract(doc._source.id, 'unlike');"> Unlike </a></span> | 
															  <span class="text-success" ng-show="myDetail.reads.length == 0 || myDetail.reads.indexOf(doc._source.id) === -1"><a href="" ng-click="userInteract(doc._source.id, 'read')"> Reading </a></span><span class="text-success" ng-show="myDetail.reads.length > 0 && myDetail.reads.indexOf(doc._source.id) !== -1"><a href="" ng-click="userInteract(doc._source.id, 'stopread')"> Stop Reading </a></span>| 
															  <span class="text-success" ><a href="" ng-click="openShare(doc._source.id)"> Share </a></span>
											</td></tr>
										<tr><td>{{doc._source.authors}}</td><td>{{doc._source.category}}</td></tr>
										<tr><td>{{doc._source.publisher}} - {{doc._source.publishedDate}}</td><td>{{doc._source.uploadedUser}} uploaded at {{doc._source.uploadedDate | date:'dd/MM/yyyy - hh:mm:ss a'}}</td></tr>
										<tr colspan="2"><td>{{doc._source.abstract}}</td></tr>
									</table>
								</td>
							</tr>						
						</tbody>
					  </table>					
				</div>				
			</div>	 -->
		</div>
		<script type="text/ng-template" id="firstDialog">
			<div class="ngdialog-message">
				<span>You would like to share this document to who :</span>
				<div>
					<form>
						<input ng-model="shareText" type="text" placeholder="Recommend text to your friends" class="form-control" autofocus>
						</br>
						<ul>
							<li ng-repeat="friend in friends"><input type="checkbox" checklist-model="selectedFriends" checklist-value="friend" checklist-comparator="compareFn"> {{friend.username}} - {{friend.email}}</li>
						</ul>
						</br>
					</form>			
				</div>
				<div class="mt">People, whom you selected, are able to interact with the document you shared.</div>
			</div>
					
			<div class="ngdialog-buttons mt">
				<button type="button"  class="ngdialog-button ngdialog-button-primary" ng-click="submit()">Share</button>
				<button type="button"  class="ngdialog-button" ng-click="uncheckAll()">Uncheck All</button>
				<button type="button"  class="ngdialog-button" ng-click="checkAll()">Check All</button>
			</div>
		</script>
      </rd-widget-body>
      <rd-widget-footer>
        
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>

 </div> 