<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">2121314</div>
				<div class="comment">Views</div>
			</rd-widget-body>
		</rd-widget>
	</div>	
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">1162</div>
				<div class="comment">Downloads</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">100000</div>
				<div class="comment">Likes</div>
			</rd-widget-body>
		</rd-widget>
	</div>	
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">1321</div>
				<div class="comment">Reading</div>
			</rd-widget-body>
		</rd-widget>
	</div>		
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">1123</div>
				<div class="comment">Shared</div>
			</rd-widget-body>
		</rd-widget>
	</div>		
</div>
<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">22</div>
				<div class="comment">My Uploaded Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">1234</div>
				<div class="comment">My Document Views</div>
			</rd-widget-body>
		</rd-widget>
	</div>	
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">116</div>
				<div class="comment">My Document Downloads</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">100</div>
				<div class="comment">My Liked Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>	
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">123</div>
				<div class="comment">My Reading Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>		
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">123</div>
				<div class="comment">My Shared Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>		
</div>
<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Reading Documents">
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td>Perception theory</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Inaccessible set theory</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Inaccessible truths and infinite coincidences</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Storage and Recommendation Systems</td><td>View | Download | Reading | Like | Share</td><td><span tooltip="Not Accessible" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>Working with Docker</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>String theory</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>The Myths of Universe Structure</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Thinking as a snail</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>Muslim history</td><td>View | Download | Reading | Like | Share</td><td><span tooltip="Not Accessible" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>Islamic Principle, What is</td><td>View | Download | Reading | Like | Share</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Top Suggested Books">
				<input type="text" placeholder="Search" class="form-control input-sm">
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>Title</th><th>Author</th><th>Action</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>Walking to the Moon</td><td>Kate Cole-Adams</td><td>View | Download | Reading | Like | Share</td></tr>
							<tr><td class="text-center">2</td><td>Live Long, Die Short: A Guide to Authentic Health and Successful Aging</td><td>Roger Landry</td><td>View | Download | Reading | Like | Share</td></tr>
							<tr><td class="text-center">3</td><td>How the Universe Got Its Spots: Diary of a Finite Time in a Finite Space</td><td>Janna Levin, Oksana Kushnir</td><td>View | Download | Reading | Like | Share</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</rd-widget></rd-widget></div>
</div>
